<div class="container">

  <%= render partial: "shared/leagueidform" %>

  <% if current_user %>
    <!-- put 'go to dashboard page here' -->
  <% else %>
    <%= render partial: "sign_in_form" %>
  <% end -%>

</div>
