<%= form_tag leagues_path, class: "form-login", id: "form-league" do %>
  <h2 class="form-login-heading">add to your leagues</h2>
  <div class="login-wrap">
    <%= text_field_tag :id, nil, placeholder: "LEAGUE ID", class: "form-control" %>
  </div>
<% end %>