<h3><i class="fa fa-angle-right"></i> League Results for <%= @league.name %></h3>
<div class="row">

  <div class="col-md-12 mt">
    <div class="content-panel">

      <h4><i class="fa fa-angle-right"></i> League Stats</h4>
      <hr>

      <table class="table table-hover">
        <thead>
          <tr>
            <th><i class="fa fa-bullhorn"></i> Category</th>
            <th><i class="fa fa-question-circle"></i> Team</th>
            <th><i class="fa fa-question-circle"></i> Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Best Season Total</td>
            <td>Team 7</td>
            <td>21</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



Best Season Total (Team, Total)
Best Individual Score (Team, Score, Week)
Worst Season Total (Team, Total)
Worst Individual Score (Team, Score, Week)

Team Stats
All Play Record by Week (Team, Record, Week)
All Play Record by Season (Team, Record, Win Percentage)
Actual Record vs All Play Record
