<h1>Welcome to Mr. Commissioner!</h1>

<p>
  Hi <%= @user.username %>, we are glad that you joined our website
</p>

<p>
  You can keep track of your leagues and team by visiting your dashboard <%= link_to "here", leagues_url %>
</p>
