<aside class = "dropdown-toggle">
  <div id="sidebar"  class="nav-collapse ">
    <ul class="sidebar-menu" id="nav-accordion">

      <h5 class="centered">Navigation</h5>

      <li class="sub-menu">
        <%= link_to leagues_path, class: controller.class == LeaguesController ? 'active' : '' do %>
          <i class="fa fa-bar-chart-o"></i>
          <span>League Stats</span>
        <% end -%>
      </li>

    </ul>
  </div>
</aside>
