<header class="header black-bg">
  <div class="sidebar-toggle-box">
    <div class="fa fa-bars fa-inverse tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
  </div>
  <!--logo start-->
  <%= link_to root_path, class: "logo" do %>
    <b>Mr. Commissioner</b>
  <% end -%>

  <div class="top-menu">
    <ul class="nav pull-right top-menu">
      <li><%= sign_in_or_out %></li>
    </ul>
  </div>
</header>

